{% extends "bootstrap/base.html" %}
{% block title %}spotify match{% endblock %}

{% block styles %}
	{{super()}}
	 <link rel="stylesheet"
      href="{{url_for('.static', filename='cover.css')}}"/>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-center">{{user.profile_id}}</h2>
    <div class="text-center">
        <a href="{{ url_for('users_tracks') }}" class="btn btn-lg btn-success">Your Saved Tracks</a><br>
        <a href="{{ url_for('similar_users') }}" class="btn btn-lg btn-success">View Most Similar Users</a><br>
        <a href="{{ url_for('recommendations') }}" class="btn btn-lg btn-success">Get Recommendations</a><br>
    </div>
</div>
{% endblock %}