{% extends "bootstrap/base.html" %}
{% block title %}spotify match{% endblock %}

{% block styles %}
	{{super()}}
	 <link rel="stylesheet"
      href="{{url_for('.static', filename='cover.css')}}"/>
{% endblock %}

{% block content %}
  <h2 class="text-center">Most Similar Users</h2>
  <div class="text-center">
      {% for match in matches %}
          <h3> {{ match[0] }} : {{ match[1]|length }} matches</h3>
          {% for song in match[1] %}
            <p>{{ song.name }} by {{ song.artist}}
                {% if song.preview_url %}
                    <a href="{{ song.preview_url }}">Preview</a>
                {% endif %}
            </p>
          {% endfor %}
      {% endfor %}
  </div>
{% endblock %}