{% extends "bootstrap/base.html" %}
{% block title %}spotify match{% endblock %}

{% block styles %}
	{{super()}}
	 <link rel="stylesheet"
      href="{{url_for('.static', filename='cover.css')}}"/>
{% endblock %}

{% block content %}
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-1">
            <a href="{{ url_for('home') }}" class="btn btn-md btn-success">Go back</a>
          </div>
      </div>
  </div>
  <h2 class="text-center">Most Similar Users</h2>
  <div class="text-center">
      {% for match in matches %}
          <h3> {{ match[0] }} : {{ match[1]|length }} matches</h3>
          {% for song in match[1] %}
            <p>{{ song.name }} by {{ song.artist.name }}
                {% if song.preview_url %}
                    <a href="{{ song.preview_url }}">Preview</a>
                {% endif %}
            </p>
          {% endfor %}
      {% else %}
        <div><p>We were unable to find any similar users. Maybe it's because you are so unique! Or
            maybe you need you add more tracks!</p></div>
      {% endfor %}
  </div>
{% endblock %}
